@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,600,700,italic&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #454655;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #454655;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 66.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  color: #f9f9f9;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.175;
}
@media (min-width: 68.125em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (font-size: clamp( 1.75rem , 1.4383116883rem  +  1.5584415584vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.4383116883rem  +  1.5584415584vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.4383116883rem  +  1.5584415584vw , 2.5rem )) {
    .title {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }
}

.title-main {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #25529f;
}
.title-main-center {
  text-align: center;
}

.title-main-center {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #25529f;
  text-align: center;
}

.subtitle-main {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #25529f;
}

.subtitle {
  color: #ecf3ff;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  line-height: 150%;
}

.info-footer__list li a, .menu__sub-link, .menu__item {
  position: relative;
}
.info-footer__list li a::after, .menu__sub-link::after, .menu__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 50%;
  background-color: #f9f9f9;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .info-footer__list li a:hover::after, .menu__sub-link:hover::after, .menu__item:hover::after {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 68.125em) {
  .padding {
    padding-top: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-top: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .padding {
      padding-top: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .padding {
      padding-top: calc(1.25rem + 2.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .padding {
    padding-top: 1.25rem;
  }
}
@media (min-width: 68.125em) {
  .padding {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .padding {
      padding-bottom: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .padding {
      padding-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .padding {
    padding-bottom: 1.25rem;
  }
}

.navigation {
  display: block;
  color: #25529f;
}
.navigation__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navigation__nums {
  display: flex;
  gap: 10px;
}
.navigation__num {
  position: relative;
  height: 1.0625rem;
  width: 1.0625rem;
}
@media (any-hover: hover) {
  .navigation__num {
    transition: all 0.3s ease 0s;
  }
  .navigation__num:hover {
    color: #01bd3a;
  }
}
.navigation__num-acitve::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: -2px;
  left: -29%;
  background-color: #ecf3ff;
  border-radius: 50%;
  width: 1.0625rem;
  height: 1.0625rem;
}

.arrow {
  width: 0.75rem;
  height: 0.875rem;
}
.arrow img {
  height: 100%;
  width: 100%;
}

.documents__body {
  padding: 1.75rem 1rem 2.5rem;
  background-color: #ecf3ff;
}
.documents__title {
  margin-bottom: 27px;
}
.documents__item:not(:last-child) {
  margin-bottom: 12px;
}
.documents__item::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 0.625rem;
  height: 0.75rem;
  background-image: url("../img/iconfont/download-red.svg");
}
.documents__link {
  color: #d30a44;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.documents__item:nth-child(2) {
  transition-delay: 0.1s;
}

.documents__item:nth-child(3) {
  transition-delay: 0.2s;
}

.documents__item:nth-child(4) {
  transition-delay: 0.3s;
}

.documents__item:nth-child(5) {
  transition-delay: 0.4s;
}

.documents__item:nth-child(6) {
  transition-delay: 0.5s;
}

.documents__item:nth-child(7) {
  transition-delay: 0.6s;
}

.cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.card {
  padding: 2.5625rem 1.25rem;
  background-color: #ecf3ff;
  border-radius: 16px;
  text-align: center;
  color: #25529f;
}
@media (any-hover: hover) {
  .card {
    transition: all 0.3s ease 0s;
  }
  .card:hover {
    box-shadow: 0px 0px 22px -2px rgba(34, 60, 80, 0.17);
  }
}
.card__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  max-width: 190px;
  margin: 0 auto;
}
.card__image {
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: 100%;
  max-width: 125px;
  border-radius: 50%;
  object-fit: cover;
}
.card__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.1666666667;
}
.card__subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333333333;
}
.card__text {
  font-weight: 500;
  line-height: 1.3333333333;
}
@media (min-width: 48em) {
  .card__text {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.75rem , 1.3928571429rem  +  -1.3392857143vw , 1.125rem )) {
    .card__text {
      font-size: clamp( 0.75rem , 1.3928571429rem  +  -1.3392857143vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.3928571429rem  +  -1.3392857143vw , 1.125rem )) {
    .card__text {
      font-size: calc(1.125rem + -0.375 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .card__text {
    font-size: 1.125rem;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 47.99875em) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.item {
  border-radius: 0.5rem;
  padding: 1.125rem 2.25rem;
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
}
@media (max-width: 29.99875em) {
  .item {
    flex-direction: column;
    text-align: center;
  }
}
.item__num {
  font-weight: 500;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.01em;
}
@media (min-width: 48em) {
  .item__num {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 2.5rem , 2.1428571429rem  +  1.7857142857vw , 3rem )) {
    .item__num {
      font-size: clamp( 2.5rem , 2.1428571429rem  +  1.7857142857vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 2.1428571429rem  +  1.7857142857vw , 3rem )) {
    .item__num {
      font-size: calc(2.5rem + 0.5 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .item__num {
    font-size: 2.5rem;
  }
}
.item__text {
  font-size: 1.125rem;
  line-height: 140%;
}

.item-big {
  grid-row: span 4;
}

.item-1 {
  background-color: #ecf3ff;
}

.item-2 {
  background-color: #b0e4dd;
}

.item-3 {
  background-color: #fee7ed;
}

.item-4 {
  background-color: #fff2e6;
}

.sub-header {
  margin-top: 188px;
}
.sub-header.active {
  margin-top: 158px;
}
.sub-header__container {
  max-width: 60.625rem;
}
.sub-header__list {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 30em) {
  .sub-header__list {
    gap: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 30em) {
  @supports (gap: clamp( 0.3125rem , -0.3125rem  +  3.125vw , 0.625rem )) {
    .sub-header__list {
      gap: clamp( 0.3125rem , -0.3125rem  +  3.125vw , 0.625rem );
    }
  }
  @supports not (gap: clamp( 0.3125rem , -0.3125rem  +  3.125vw , 0.625rem )) {
    .sub-header__list {
      gap: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 10);
    }
  }
}
@media (max-width: 20em) {
  .sub-header__list {
    gap: 0.3125rem;
  }
}
.sub-header__link {
  font-size: 0.875rem;
  line-height: 179%;
  color: #4285f7;
  display: block;
}
@media (any-hover: hover) {
  .sub-header__link {
    transition: all 0.3s ease 0s;
  }
  .sub-header__link:hover {
    color: #01bd3a;
  }
}
.sub-header__link::after {
  content: "";
  display: inline-block;
  background-image: url("../img/iconfont/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.25rem;
  height: 0.4375rem;
}
@media (min-width: 30em) {
  .sub-header__link::after {
    margin-left: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 30em) {
  @supports (margin-left: clamp( 0.0625rem , -1.0625rem  +  5.625vw , 0.625rem )) {
    .sub-header__link::after {
      margin-left: clamp( 0.0625rem , -1.0625rem  +  5.625vw , 0.625rem );
    }
  }
  @supports not (margin-left: clamp( 0.0625rem , -1.0625rem  +  5.625vw , 0.625rem )) {
    .sub-header__link::after {
      margin-left: calc(0.0625rem + 0.5625 * (100vw - 20rem) / 10);
    }
  }
}
@media (max-width: 20em) {
  .sub-header__link::after {
    margin-left: 0.0625rem;
  }
}
.sub-header__link-1 {
  font-weight: 500;
}
.sub-header__link-2::after {
  background-image: url("../img/iconfont/arrow-grey.svg");
}
.sub-header__link-3 {
  color: #9899af;
}
.sub-header__link-3::after {
  display: none;
}

.sub-header__item-2 {
  transition-delay: 0.2s !important;
}

.sub-header__item-3 {
  transition-delay: 0.4s !important;
}

.intro {
  position: relative;
}
.intro__body {
  min-height: 424px;
}
.intro__content {
  padding-top: 120px;
  max-width: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.intro__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro__subtitle {
  margin-top: 10px;
}

.anim-appearance {
  opacity: 0;
  transition: opacity 3s ease 0s;
}
.anim-appearance._watcher-view {
  opacity: 1;
}

.anim-appearance-fast {
  opacity: 0;
  transition: opacity 1.5s ease 0s;
}
.anim-appearance-fast._watcher-view {
  opacity: 1;
}

.anim-move {
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
}
.anim-move._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.anim-move-right {
  transform: translate(100%, 0px);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
}
.anim-move-right._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.anim-move-bottom {
  transform: translate(0, 100%);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 1.6s ease 0s;
}
.anim-move-bottom._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.anim-move-top {
  transform: translate(0, -100%);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 1.6s ease 0s;
}
.anim-move-top._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.top-header {
  padding: 7px 0;
  background-color: #fff2e6;
  transition: all 0.3s ease 0s;
}
.top-header.active {
  display: none;
}
.top-header__body {
  display: flex;
  align-items: center;
}
.top-header__text {
  flex: 1 1 100%;
  color: #d45c05;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
}
.top-header__text a {
  text-decoration: underline;
}
.top-header__close {
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/iconfont/close.svg");
}
@media (min-width: 68.125em) {
  .top-header__close {
    width: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (width: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      width: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem );
    }
  }
  @supports not (width: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      width: calc(0.9375rem + -0.4375 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .top-header__close {
    width: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .top-header__close {
    height: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (height: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      height: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem );
    }
  }
  @supports not (height: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      height: calc(0.9375rem + -0.4375 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .top-header__close {
    height: 0.9375rem;
  }
}

.middle-header {
  padding-top: 18px;
  padding-bottom: 20px;
  transition: all 0.3s ease 0s;
}
._header-scroll .middle-header {
  padding-top: 9px;
  padding-bottom: 10px;
}
.middle-header__body {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.middle-header__logo {
  align-self: center;
}
.middle-header__logo img {
  width: 100%;
}
@media (min-width: 25.625em) {
  .middle-header__logo img {
    max-width: 9.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (max-width: clamp( 6.25rem , -4.6388888889rem  +  54.4444444444vw , 9.3125rem )) {
    .middle-header__logo img {
      max-width: clamp( 6.25rem , -4.6388888889rem  +  54.4444444444vw , 9.3125rem );
    }
  }
  @supports not (max-width: clamp( 6.25rem , -4.6388888889rem  +  54.4444444444vw , 9.3125rem )) {
    .middle-header__logo img {
      max-width: calc(6.25rem + 3.0625 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .middle-header__logo img {
    max-width: 6.25rem;
  }
}

.info-header {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
@media (min-width: 25.625em) {
  .info-header {
    gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (gap: clamp( 0.75rem , -1.9166666667rem  +  13.3333333333vw , 1.5rem )) {
    .info-header {
      gap: clamp( 0.75rem , -1.9166666667rem  +  13.3333333333vw , 1.5rem );
    }
  }
  @supports not (gap: clamp( 0.75rem , -1.9166666667rem  +  13.3333333333vw , 1.5rem )) {
    .info-header {
      gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .info-header {
    gap: 0.75rem;
  }
}
@media (min-width: 25.625em) {
  .info-header {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (margin-bottom: clamp( 0.3125rem , -0.3541666667rem  +  3.3333333333vw , 0.5rem )) {
    .info-header {
      margin-bottom: clamp( 0.3125rem , -0.3541666667rem  +  3.3333333333vw , 0.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.3125rem , -0.3541666667rem  +  3.3333333333vw , 0.5rem )) {
    .info-header {
      margin-bottom: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .info-header {
    margin-bottom: 0.3125rem;
  }
}
.info-header__language {
  display: flex;
  gap: 7px;
  color: #ecf3ff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.01em;
}
@media (min-width: 25.625em) {
  .info-header__language {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (font-size: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 1.5rem )) {
    .info-header__language {
      font-size: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 1.5rem )) {
    .info-header__language {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .info-header__language {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .info-header__language a {
    transition: all 0.3s ease 0s;
  }
  .info-header__language a:hover {
    color: #01bd3a;
  }
}
.info-header__link {
  border: 1px solid #25529f;
  border-radius: 50%;
  flex: 0 0 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .info-header__link {
    transition: all 0.3s ease 0s;
  }
  .info-header__link:hover {
    border-color: #01bd3a;
  }
}
.info-header__link img {
  max-width: 12px;
  height: 12px;
}

.language-active {
  color: #25529f;
}

.header-search__tel {
  display: block;
  padding-bottom: 15px;
}
@media (min-width: 35.625em) {
  .header-search__tel {
    display: none;
  }
}

.search-header {
  position: relative;
}
.search-header__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  z-index: 2;
  border-radius: 31px;
  background-repeat: no-repeat;
  background-image: url("../img/iconfont/search.svg");
  background-size: 50%;
  background-position: center;
}
@media (min-width: 35.625em) {
  .search-header__button {
    width: 25px;
    height: 25px;
    border: 1px solid #25529f;
  }
}
.search-header__input {
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid #25529f;
  border-radius: 31px;
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.6s ease;
  position: relative;
}
@media (min-width: 35.625em) {
  .search-header__input {
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}

@media (min-width: 35.625em) {
  .search-header__button.active {
    border-color: transparent;
  }

  .search-header__button.active + .search-header__input {
    width: 200px;
    opacity: 1;
  }
}
@media (min-width: 35.625em) and (min-width: 68.125em) {
  .search-header__button.active + .search-header__input {
    width: 12.5rem;
  }
}
@media (min-width: 35.625em) and (min-width: 20em) and (max-width: 68.125em) {
  @supports (width: clamp( 7.5rem , 5.4220779221rem  +  10.3896103896vw , 12.5rem )) {
    .search-header__button.active + .search-header__input {
      width: clamp( 7.5rem , 5.4220779221rem  +  10.3896103896vw , 12.5rem );
    }
  }
  @supports not (width: clamp( 7.5rem , 5.4220779221rem  +  10.3896103896vw , 12.5rem )) {
    .search-header__button.active + .search-header__input {
      width: calc(7.5rem + 5 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (min-width: 35.625em) and (max-width: 20em) {
  .search-header__button.active + .search-header__input {
    width: 7.5rem;
  }
}
.bottom-header {
  background-color: #25529f;
  color: #fff;
}
.menu__body {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
._header-scroll .menu__body {
  min-height: 40px;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: #25529f;
    transition: all 0.3s ease 0s;
  }
  .menu-open .menu__body {
    top: 0;
  }
}
.menu__list li {
  position: relative;
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    row-gap: 8px;
    height: 100%;
  }
}
@media (min-width: 47.99875em) and (min-width: 120em) {
  .menu__list {
    column-gap: 1.875rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem )) {
    .menu__list {
      column-gap: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem );
    }
  }
  @supports not (column-gap: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem )) {
    .menu__list {
      column-gap: calc(1.25rem + 0.625 * (100vw - 48rem) / 72);
    }
  }
}
@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    column-gap: 1.25rem;
  }
}
.menu__link {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 2;
  color: #f9f9f9;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #25529f;
  padding: 16px 12px 24px 12px;
  min-width: 140px;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
.menu__sub-list li {
  line-height: 120%;
  white-space: nowrap;
}
.menu__sub-list li:not(:last-child) {
  margin-bottom: 16px;
}
html.pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

html.touch .menu__list > li:hover {
  display: flex;
  align-items: center;
}

html.touch .menu__link {
  flex: 1 1 auto;
}

html.touch .menu__list > li.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

html.pc .menu__list > li:hover .menu__sub-list-wrap {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

html.touch .menu__list > li:hover {
  display: flex;
  align-items: center;
}

html.touch .menu__link {
  flex: 1 1 auto;
}

html.touch .menu__list > li.active .menu__sub-list-wrap {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__sub-list-wrap {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
@media (min-width: 62.5em) {
  .menu__sub-list-wrap {
    padding-top: 1rem;
  }
}
@media (min-width: 48em) and (max-width: 62.5em) {
  @supports (padding-top: clamp( 0.125rem , -2.7715517241rem  +  6.0344827586vw , 1rem )) {
    .menu__sub-list-wrap {
      padding-top: clamp( 0.125rem , -2.7715517241rem  +  6.0344827586vw , 1rem );
    }
  }
  @supports not (padding-top: clamp( 0.125rem , -2.7715517241rem  +  6.0344827586vw , 1rem )) {
    .menu__sub-list-wrap {
      padding-top: calc(0.125rem + 0.875 * (100vw - 48rem) / 14.5);
    }
  }
}
@media (max-width: 48em) {
  .menu__sub-list-wrap {
    padding-top: 0.125rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    order: 3;
    position: relative;
    flex: 0 0 1.5625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 25;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #25529f;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #25529f;
  color: #ecf3ff;
  padding-top: 24px;
  padding-bottom: 33px;
}
.footer__link {
  text-align: center;
  text-decoration: underline;
  margin-top: 24px;
}
@media (min-width: 48em) {
  .footer__link {
    margin-top: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-top: clamp( 1.5rem , 4.2857142857rem  +  -5.8035714286vw , 3.125rem )) {
    .footer__link {
      margin-top: clamp( 1.5rem , 4.2857142857rem  +  -5.8035714286vw , 3.125rem );
    }
  }
  @supports not (margin-top: clamp( 1.5rem , 4.2857142857rem  +  -5.8035714286vw , 3.125rem )) {
    .footer__link {
      margin-top: calc(3.125rem + -1.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__link {
    margin-top: 3.125rem;
  }
}
@media (min-width: 48em) {
  .footer__link {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.75rem , 1.1785714286rem  +  -0.8928571429vw , 1rem )) {
    .footer__link {
      font-size: clamp( 0.75rem , 1.1785714286rem  +  -0.8928571429vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.1785714286rem  +  -0.8928571429vw , 1rem )) {
    .footer__link {
      font-size: calc(1rem + -0.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__link {
    font-size: 1rem;
  }
}

.info-footer {
  display: grid;
  gap: 110px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
@media (min-width: 48em) {
  .info-footer {
    gap: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (gap: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .info-footer {
      gap: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem );
    }
  }
  @supports not (gap: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .info-footer {
      gap: calc(3.75rem + 3.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .info-footer {
    gap: 3.75rem;
  }
}
.info-footer__title {
  padding: 30px 0;
  padding-right: 10px;
  border-right: 1px solid #ecf3ff;
}
@media (max-width: 29.99875em) {
  .info-footer__title {
    padding-bottom: 10px;
    text-align: center;
  }
}
.info-footer__title h3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -0.01em;
  line-height: 1.1666666667;
}
@media (min-width: 30em) {
  .info-footer__title h3 {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 30em) {
  @supports (font-size: clamp( 1.125rem , 2.25rem  +  -3.75vw , 1.5rem )) {
    .info-footer__title h3 {
      font-size: clamp( 1.125rem , 2.25rem  +  -3.75vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 2.25rem  +  -3.75vw , 1.5rem )) {
    .info-footer__title h3 {
      font-size: calc(1.5rem + -0.375 * (100vw - 20rem) / 10);
    }
  }
}
@media (max-width: 20em) {
  .info-footer__title h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 29.99875em) {
  .info-footer__title h3 {
    max-width: 214px;
  }
}
.info-footer__title p {
  font-size: 0.875rem;
  line-height: 1.1785714286;
  letter-spacing: -0.01em;
  max-width: 284px;
  margin-top: 14px;
}
.info-footer__subtitle {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}
@media (min-width: 68.75em) {
  .info-footer__subtitle {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 68.75em) {
  @supports (font-size: clamp( 0.75rem , 1.6314102564rem  +  -1.2820512821vw , 1.375rem )) {
    .info-footer__subtitle {
      font-size: clamp( 0.75rem , 1.6314102564rem  +  -1.2820512821vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.6314102564rem  +  -1.2820512821vw , 1.375rem )) {
    .info-footer__subtitle {
      font-size: calc(1.375rem + -0.625 * (100vw - 20rem) / 48.75);
    }
  }
}
@media (max-width: 20em) {
  .info-footer__subtitle {
    font-size: 1.375rem;
  }
}
@media (min-width: 47.99875em) {
  .info-footer__links {
    max-width: 250px;
  }
}
@media (max-width: 47.99875em) {
  .info-footer__links {
    text-align: center;
  }
}
.info-footer__list li {
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
}
@media (min-width: 68.75em) {
  .info-footer__list li {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 68.75em) {
  @supports (font-size: clamp( 0.75rem , 1.4551282051rem  +  -1.0256410256vw , 1.25rem )) {
    .info-footer__list li {
      font-size: clamp( 0.75rem , 1.4551282051rem  +  -1.0256410256vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.4551282051rem  +  -1.0256410256vw , 1.25rem )) {
    .info-footer__list li {
      font-size: calc(1.25rem + -0.5 * (100vw - 20rem) / 48.75);
    }
  }
}
@media (max-width: 20em) {
  .info-footer__list li {
    font-size: 1.25rem;
  }
}
.info-footer__list li:not(:last-child) {
  margin-bottom: 4px;
}
@media (max-width: 47.99875em) {
  .info-footer__list li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.info-footer__list .list-footer__item-2 {
  transition-delay: 0.1s;
}
.info-footer__list .list-footer__item-3 {
  transition-delay: 0.2s;
}
.info-footer__list .list-footer__item-4 {
  transition-delay: 0.3s;
}
.info-footer__list .list-footer__item-5 {
  transition-delay: 0.4s;
}
.info-footer__list .list-footer__item-6 {
  transition-delay: 0.5s;
}

.contacts-footer {
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
}
@media (min-width: 48em) {
  .contacts-footer {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.75rem , 1.6071428571rem  +  -1.7857142857vw , 1.25rem )) {
    .contacts-footer {
      font-size: clamp( 0.75rem , 1.6071428571rem  +  -1.7857142857vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.6071428571rem  +  -1.7857142857vw , 1.25rem )) {
    .contacts-footer {
      font-size: calc(1.25rem + -0.5 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .contacts-footer {
    font-size: 1.25rem;
  }
}
.contacts-footer__address {
  font-style: normal;
  transition-delay: 0.1s;
}
.contacts-footer__link {
  display: block;
}
.contacts-footer__tel {
  margin: 20px 0;
  transition-delay: 0.2s;
}
.contacts-footer__mail {
  transition-delay: 0.3s;
}
.contacts-footer__site {
  transition-delay: 0.4s;
}
@media (max-width: 47.99875em) {
  .contacts-footer {
    text-align: center;
  }
}

.intro__title-color {
  color: #25529f;
}

.intro-home {
  margin-top: 188px;
}
.intro-home.active {
  margin-top: 158px;
}

.khow-more__title {
  margin-bottom: 47px;
}
.khow-more .card {
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}
@media (min-width: 68.125em) {
  .khow-more .card {
    padding-top: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-top: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem )) {
    .khow-more .card {
      padding-top: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem )) {
    .khow-more .card {
      padding-top: calc(1.25rem + 0.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .khow-more .card {
    padding-top: 1.25rem;
  }
}
@media (min-width: 68.125em) {
  .khow-more .card {
    padding-bottom: 4.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-bottom: clamp( 3.125rem , 2.4237012987rem  +  3.5064935065vw , 4.8125rem )) {
    .khow-more .card {
      padding-bottom: clamp( 3.125rem , 2.4237012987rem  +  3.5064935065vw , 4.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 2.4237012987rem  +  3.5064935065vw , 4.8125rem )) {
    .khow-more .card {
      padding-bottom: calc(3.125rem + 1.6875 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .khow-more .card {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 68.125em) {
  .khow-more .card {
    padding-left: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-left: clamp( 0.625rem , 0.3652597403rem  +  1.2987012987vw , 1.25rem )) {
    .khow-more .card {
      padding-left: clamp( 0.625rem , 0.3652597403rem  +  1.2987012987vw , 1.25rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.3652597403rem  +  1.2987012987vw , 1.25rem )) {
    .khow-more .card {
      padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .khow-more .card {
    padding-left: 0.625rem;
  }
}
@media (min-width: 68.125em) {
  .khow-more .card {
    padding-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-right: clamp( 0.625rem , 0.3652597403rem  +  1.2987012987vw , 1.25rem )) {
    .khow-more .card {
      padding-right: clamp( 0.625rem , 0.3652597403rem  +  1.2987012987vw , 1.25rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.3652597403rem  +  1.2987012987vw , 1.25rem )) {
    .khow-more .card {
      padding-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .khow-more .card {
    padding-right: 0.625rem;
  }
}
.khow-more .card::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 0;
  bottom: 0;
  left: 25%;
  border-radius: 4px 4px 0px 0px;
  background-color: #d30a44;
  transition: all 0.3s ease 0s;
}
.khow-more .card__image {
  padding: 20px;
}
.khow-more .card__image img {
  transition: all 0.3s ease 0s;
  max-width: 165px;
}
@media (any-hover: hover) {
  .khow-more .card {
    transition: all 0.3s ease 0s;
  }
  .khow-more .card .card__image img {
    max-width: none;
  }
  .khow-more .card:hover {
    box-shadow: 0px 30px 20px rgba(192, 204, 224, 0.5);
    background-color: #ecf3ff;
  }
  .khow-more .card:hover::after {
    height: 15px;
  }
}
.khow-more .card__text {
  color: #454655;
}

.contacts-route {
  color: #25529f;
}
.contacts-route p {
  font-size: 1.125rem;
}
.contacts-route__container {
  max-width: 36.25rem;
}
.contacts-route__bus p:not(:last-child) {
  margin-bottom: 25px;
}
.contacts-route__title {
  margin-bottom: 10px;
}
.contacts-route__car {
  margin-top: 36px;
  margin-bottom: 48px;
}

.contacts-route {
  font-size: 1.125rem;
}
.contacts-route .contacts-footer__address {
  margin-top: 24px;
  max-width: 21.25rem;
}
.contacts-route .contacts-footer__link {
  line-height: 180%;
}
.contacts-route .contacts-footer__tel {
  margin: 0;
}

.contacts__text-2 {
  transition-delay: 0.2s;
}

.contacts__text-3 {
  transition-delay: 0.4s;
}

.contacts__text-4 {
  transition-delay: 0.6s;
}

.page-404 {
  margin-top: 200px;
}
.wasClose .page-404 {
  margin-top: 140px;
}
.page-404 h1 {
  text-align: center;
  margin: 0 auto;
  line-height: 47px;
  letter-spacing: -0.01em;
  max-width: 39.375rem;
}
@media (min-width: 68.125em) {
  .page-404 h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (font-size: clamp( 1.875rem , 1.6152597403rem  +  1.2987012987vw , 2.5rem )) {
    .page-404 h1 {
      font-size: clamp( 1.875rem , 1.6152597403rem  +  1.2987012987vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.6152597403rem  +  1.2987012987vw , 2.5rem )) {
    .page-404 h1 {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .page-404 h1 {
    font-size: 1.875rem;
  }
}
@media (min-width: 68.125em) {
  .page-404 h1 {
    margin-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .page-404 h1 {
      margin-bottom: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .page-404 h1 {
      margin-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .page-404 h1 {
    margin-bottom: 1.25rem;
  }
}
.page-404__container {
  max-width: 49.375rem;
}
.page-404__body {
  padding: 2.4375rem 3.25rem;
  background-color: #ecf3ff;
  box-shadow: 0px 20px 20px -10px rgba(175, 194, 226, 0.25);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #25529f;
}
@media (min-width: 48em) {
  .page-404__body {
    padding-top: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-top: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 2.4375rem )) {
    .page-404__body {
      padding-top: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 2.4375rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 2.4375rem )) {
    .page-404__body {
      padding-top: calc(0.9375rem + 1.5 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .page-404__body {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 48em) {
  .page-404__body {
    padding-bottom: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-bottom: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 2.4375rem )) {
    .page-404__body {
      padding-bottom: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 2.4375rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 2.4375rem )) {
    .page-404__body {
      padding-bottom: calc(0.9375rem + 1.5 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .page-404__body {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 48em) {
  .page-404__body {
    padding-left: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-left: clamp( 1.5625rem , 0.3571428571rem  +  6.0267857143vw , 3.25rem )) {
    .page-404__body {
      padding-left: clamp( 1.5625rem , 0.3571428571rem  +  6.0267857143vw , 3.25rem );
    }
  }
  @supports not (padding-left: clamp( 1.5625rem , 0.3571428571rem  +  6.0267857143vw , 3.25rem )) {
    .page-404__body {
      padding-left: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .page-404__body {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 48em) {
  .page-404__body {
    padding-right: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (padding-right: clamp( 1.5625rem , 0.3571428571rem  +  6.0267857143vw , 3.25rem )) {
    .page-404__body {
      padding-right: clamp( 1.5625rem , 0.3571428571rem  +  6.0267857143vw , 3.25rem );
    }
  }
  @supports not (padding-right: clamp( 1.5625rem , 0.3571428571rem  +  6.0267857143vw , 3.25rem )) {
    .page-404__body {
      padding-right: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .page-404__body {
    padding-right: 1.5625rem;
  }
}
.page-404__body p {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
.page-404__body a {
  font-weight: 500;
  font-size: 2.25rem;
  text-decoration: underline;
  line-height: 1.3888888889;
  margin-top: 22px;
}

.description {
  background-color: #ecf3ff;
}
.description__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description__body {
  padding-top: 42px;
  padding-bottom: 29px;
  color: #25529f;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  max-width: 588px;
}
@media (max-width: 47.99875em) {
  .description__body {
    text-align: center;
  }
}

.mission {
  position: relative;
  color: #f9f9f9;
}
.mission__body {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.mission__content {
  position: relative;
  z-index: 10;
  display: flex;
  padding-top: 103px;
  padding-bottom: 93px;
  padding-right: 98px;
}
@media (min-width: 47.99875em) {
  .mission__content {
    justify-content: flex-end;
  }
}
@media (max-width: 47.99875em) {
  .mission__content {
    text-align: center;
    padding: 30px;
  }
}
.mission__content-inner {
  flex: 0 1 384px;
}
.mission__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.1875;
}
.mission__text {
  margin-top: 4px;
  font-size: 1.125rem;
  line-height: 140%;
}

.background-mission {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  z-index: 5;
}
.background-mission__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #454655;
  opacity: 0.35;
  z-index: 2;
}
.background-mission__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

@media (min-width: 68.125em) {
  .purposes__title {
    margin-bottom: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 1.5rem , 1.0324675325rem  +  2.3376623377vw , 2.625rem )) {
    .purposes__title {
      margin-bottom: clamp( 1.5rem , 1.0324675325rem  +  2.3376623377vw , 2.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5rem , 1.0324675325rem  +  2.3376623377vw , 2.625rem )) {
    .purposes__title {
      margin-bottom: calc(1.5rem + 1.125 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .purposes__title {
    margin-bottom: 1.5rem;
  }
}

.directors .title-main-center {
  margin-bottom: 42px;
}

@media (min-width: 61.99875em) {
  .team__body {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
.team__title {
  margin-bottom: 42px;
}
@media (min-width: 61.99875em) {
  .team .cards {
    display: inline-grid;
    grid-auto-flow: column;
  }
}

.how-we-work__title {
  margin-bottom: 31px;
}
.how-we-work__body {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 30px;
  flex-direction: column;
}
@media (min-width: 47.99875em) {
  .how-we-work__body {
    flex-direction: row;
  }
}
.how-we-work__info {
  flex: 0 1 582px;
  color: #25529f;
}
@media (max-width: 47.99875em) {
  .how-we-work__info {
    flex: 1 1 auto;
  }
}
.how-we-work__info p {
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
.how-we-work__info p:not(:last-child) {
  margin-bottom: 40px;
}
.how-we-work__info span {
  font-weight: 700;
}
.how-we-work__documents {
  flex: 0 1 282px;
}
@media (max-width: 47.99875em) {
  .how-we-work__documents {
    flex: 1 1 auto;
  }
}

.how-we-work__info-1 {
  transition-duration: 0.2s;
}

.how-we-work__info-2 {
  transition-duration: 0.4s;
}

.how-we-work__info-3 {
  transition-duration: 0.6s;
}

.body-committees__suptext {
  color: #25529f;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
@media (min-width: 68.125em) {
  .body-committees__suptext {
    margin-top: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-top: clamp( 1.25rem , 0.6785714286rem  +  2.8571428571vw , 2.625rem )) {
    .body-committees__suptext {
      margin-top: clamp( 1.25rem , 0.6785714286rem  +  2.8571428571vw , 2.625rem );
    }
  }
  @supports not (margin-top: clamp( 1.25rem , 0.6785714286rem  +  2.8571428571vw , 2.625rem )) {
    .body-committees__suptext {
      margin-top: calc(1.25rem + 1.375 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .body-committees__suptext {
    margin-top: 1.25rem;
  }
}
@media (min-width: 68.125em) {
  .body-committees__suptext {
    margin-bottom: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.6785714286rem  +  2.8571428571vw , 2.625rem )) {
    .body-committees__suptext {
      margin-bottom: clamp( 1.25rem , 0.6785714286rem  +  2.8571428571vw , 2.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.6785714286rem  +  2.8571428571vw , 2.625rem )) {
    .body-committees__suptext {
      margin-bottom: calc(1.25rem + 1.375 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .body-committees__suptext {
    margin-bottom: 1.25rem;
  }
}

.body-committees__cards .item {
  flex-direction: column;
  padding: 1.5rem;
  color: #25529f;
}
@media (min-width: 47.99875em) {
  .body-committees__cards .item {
    align-items: flex-start;
  }
}
@media (min-width: 68.125em) {
  .body-committees__cards .item__num {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (font-size: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem )) {
    .body-committees__cards .item__num {
      font-size: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1461038961rem  +  0.5194805195vw , 1.5rem )) {
    .body-committees__cards .item__num {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .body-committees__cards .item__num {
    font-size: 1.25rem;
  }
}

@media (min-width: 68.125em) {
  .timetable {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-bottom: clamp( 3.125rem , 1.8262987013rem  +  6.4935064935vw , 6.25rem )) {
    .timetable {
      padding-bottom: clamp( 3.125rem , 1.8262987013rem  +  6.4935064935vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , 1.8262987013rem  +  6.4935064935vw , 6.25rem )) {
    .timetable {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .timetable {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 68.125em) {
  .timetable__body {
    margin-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-top: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .timetable__body {
      margin-top: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem );
    }
  }
  @supports not (margin-top: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .timetable__body {
      margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .timetable__body {
    margin-top: 1.25rem;
  }
}
.timetable__list {
  max-width: 39.375rem;
}
.timetable__item {
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
@media (min-width: 68.125em) {
  .timetable__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .timetable__item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .timetable__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .timetable__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.timetable__item:nth-child(1) {
  transition-delay: 0.15s;
}

.timetable__item:nth-child(2) {
  transition-delay: 0.3s;
}

.timetable__item:nth-child(3) {
  transition-delay: 0.45s;
}

.timetable__item:nth-child(4) {
  transition-delay: 0.6s;
}

.what-we-do {
  padding-top: 42px;
}
.what-we-do__container {
  max-width: 36.375rem;
}
.what-we-do__subtitle {
  font-size: 1.125rem;
  margin-top: 24px;
  margin-bottom: 21px;
}
.what-we-do__content .items {
  display: block;
}
.what-we-do__content .items .item:not(:last-child) {
  margin-bottom: 24px;
}
.what-we-do__content .items .item-1,
.what-we-do__content .items .item-4 {
  background-color: #e7f7fe;
}
.what-we-do__content .items .item-2 {
  background-color: #fff2e5;
}
.what-we-do__content .items .item-3,
.what-we-do__content .items .item-6 {
  background-color: #ecf3ff;
}
.what-we-do__content .items .item-5 {
  background-color: #fee7ed;
}
.what-we-do__content .items .item-7 {
  background-color: #e7fee8;
}

.how-to-join__container {
  max-width: 38.75rem;
}
.how-to-join h2 {
  margin-bottom: 12px;
}
.how-to-join__text {
  color: #25529f;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  max-width: 34.375rem;
}

.how-to-join-stages h2 {
  margin-bottom: 24px;
}
.how-to-join-stages__list {
  color: #25529f;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
.how-to-join-stages__list li {
  margin-left: 15px;
}
.how-to-join-stages__list li:not(:last-child) {
  margin-bottom: 12px;
}

.stages-list__item-2 {
  transition-delay: 0.15s;
}

.stages-list__item-3 {
  transition-delay: 0.3s;
}

.stages-list__item-4 {
  transition-delay: 0.45s;
}

.how-to-join-documents .documents h2 {
  margin-bottom: 214px;
}
.how-to-join-documents .documents__body {
  padding: 0;
  background-color: #fff;
}
.how-to-join-documents .documents__item::before {
  background-image: url("../img/iconfont/download.svg");
}
.how-to-join-documents .documents__link {
  color: #4285f7;
  font-size: 1.125rem;
  line-height: 1.2857142857;
}
@media (any-hover: hover) {
  .how-to-join-documents .documents__link {
    transition: all 0.3s ease 0s;
  }
  .how-to-join-documents .documents__link:hover {
    color: #01bd3a;
  }
}

@media (min-width: 68.125em) {
  .how-to-join-info {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.9415584416rem  +  7.7922077922vw , 6.25rem )) {
    .how-to-join-info {
      padding-bottom: clamp( 2.5rem , 0.9415584416rem  +  7.7922077922vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.9415584416rem  +  7.7922077922vw , 6.25rem )) {
    .how-to-join-info {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .how-to-join-info {
    padding-bottom: 2.5rem;
  }
}
.how-to-join-info__body {
  color: #25529f;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}
.how-to-join-info__body a {
  font-weight: 700;
}

.article__container {
  max-width: 36.25rem;
}
.article__data {
  color: #9899af;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.acticle__text {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  letter-spacing: -0.01em;
}
.acticle__text p:not(:last-child) {
  margin-bottom: 30px;
}
.acticle__back {
  display: block;
  font-size: 0.875rem;
  margin-top: 1.5rem;
  color: #d30a44;
}
@media (any-hover: hover) {
  .acticle__back {
    transition: all 0.3s ease 0s;
  }
  .acticle__back:hover {
    color: #01bd3a;
  }
}

.copyright {
  text-align: center;
  color: #9899af;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  padding: 0.625rem 0;
}

.all-news__container {
  border-top: 1px solid #25529f2c;
  padding-top: 40px;
}
.all-news__item {
  display: block;
  padding: 20px;
}
.all-news__item:not(:last-child) {
  border-bottom: 1px solid #25529f2c;
}
@media (min-width: 68.125em) {
  .all-news__title {
    margin-bottom: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 0.00000625rem , -1.0909002435rem  +  5.4545324675vw , 2.625rem )) {
    .all-news__title {
      margin-bottom: clamp( 0.00000625rem , -1.0909002435rem  +  5.4545324675vw , 2.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.00000625rem , -1.0909002435rem  +  5.4545324675vw , 2.625rem )) {
    .all-news__title {
      margin-bottom: calc(0.00000625rem + 2.625 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .all-news__title {
    margin-bottom: 0.00000625rem;
  }
}

.item-news__body {
  display: flex;
  align-items: flex-start;
  column-gap: 30px;
  row-gap: 15px;
  padding: 1.4375rem 0;
}
@media (max-width: 47.99875em) {
  .item-news__body {
    padding: 1.875rem 0;
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
@media (any-hover: hover) {
  .item-news__body:hover .item-news__image,
.item-news__body:hover .item-news__title,
.item-news__body:hover .item-news__subtext,
.item-news__body:hover .item-news__time {
    opacity: 0.9;
  }
  .item-news__body:hover .item-news__tag {
    background-color: #d30a44;
  }
}
.item-news__image {
  flex: 0 0 262px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .item-news__image {
    flex: 1 1 100%;
  }
}
.item-news__image img {
  border-radius: 4px;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 47.99875em) {
  .item-news__image img {
    width: 100%;
  }
}
.item-news__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.item-news__tag {
  min-height: 1.4375rem;
  padding: 0 0.75rem;
  background-color: #01bd3a;
  border-radius: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5833333333;
  transition: all 0.3s ease 0s;
}
.item-news__title {
  max-width: 690px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
  color: #25529f;
  margin-top: 0.75rem;
  transition: all 0.3s ease 0s;
}
.item-news__subtext {
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: -0.01em;
  margin-top: 0.75rem;
  transition: all 0.3s ease 0s;
}
.item-news__time {
  color: #9899af;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  margin-top: 0.75rem;
  transition: all 0.3s ease 0s;
}

.navigation-news {
  margin-top: 40px;
}
@media (min-width: 68.125em) {
  .navigation-news {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 2.5rem , 0.9415584416rem  +  7.7922077922vw , 6.25rem )) {
    .navigation-news {
      margin-bottom: clamp( 2.5rem , 0.9415584416rem  +  7.7922077922vw , 6.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 0.9415584416rem  +  7.7922077922vw , 6.25rem )) {
    .navigation-news {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .navigation-news {
    margin-bottom: 2.5rem;
  }
}

.participants__container {
  border-top: 1px solid #25529f2c;
  padding-top: 40px;
}
@media (min-width: 68.125em) {
  .participants__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .participants__title {
      margin-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .participants__title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .participants__title {
    margin-bottom: 1.25rem;
  }
}
.participants .item-news__body {
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
}
.participants .item-news__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.participants .item-news__image img {
  border-radius: 0;
  width: 100%;
  object-fit: scale-down;
}
.participants .item-news__title {
  color: #454655;
  font-size: 1.125rem;
}
.participants .item-news__subtext {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  letter-spacing: -0.01em;
}

.navigation-participants {
  margin-top: 20px;
}
@media (min-width: 80em) {
  .navigation-participants {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 80em) {
  @supports (margin-bottom: clamp( 2.5rem , 1.25rem  +  6.25vw , 6.25rem )) {
    .navigation-participants {
      margin-bottom: clamp( 2.5rem , 1.25rem  +  6.25vw , 6.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 1.25rem  +  6.25vw , 6.25rem )) {
    .navigation-participants {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 60);
    }
  }
}
@media (max-width: 20em) {
  .navigation-participants {
    margin-bottom: 2.5rem;
  }
}
