@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,600,700,italic&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #454655;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #454655;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 66.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  color: #f9f9f9;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.175;
}
@media (min-width: 68.125em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (font-size: clamp( 1.75rem , 1.4383116883rem  +  1.5584415584vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.4383116883rem  +  1.5584415584vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.4383116883rem  +  1.5584415584vw , 2.5rem )) {
    .title {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }
}

.subtitle {
  color: #ecf3ff;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  line-height: 150%;
}

.info-footer__list li a, .menu__sub-link, .menu__item {
  position: relative;
}
.info-footer__list li a::after, .menu__sub-link::after, .menu__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 50%;
  background-color: #f9f9f9;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .info-footer__list li a:hover::after, .menu__sub-link:hover::after, .menu__item:hover::after {
    width: 100%;
    left: 0;
  }
}

.padding {
  padding: 56px 0;
}

.intro {
  margin-top: 188px;
  position: relative;
}
.intro.active {
  margin-top: 158px;
}
.intro__body {
  min-height: 424px;
}
.intro__content {
  padding-top: 120px;
  max-width: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.intro__background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro__subtitle {
  margin-top: 10px;
}

.anim-appearance {
  opacity: 0;
  transition: opacity 3s ease 0s;
}
.anim-appearance._watcher-view {
  opacity: 1;
}

.anim-appearance-fast {
  opacity: 0;
  transition: opacity 1.5s ease 0s;
}
.anim-appearance-fast._watcher-view {
  opacity: 1;
}

.anim-move {
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
}
.anim-move._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.anim-move-right {
  transform: translate(100%, 0px);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 0.6s ease 0s;
}
.anim-move-right._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.anim-move-bottom {
  transform: translate(0, 100%);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 1.6s ease 0s;
}
.anim-move-bottom._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.anim-move-top {
  transform: translate(0, -100%);
  opacity: 0;
  transition: transform 0.6s ease 0s, opacity 1.6s ease 0s;
}
.anim-move-top._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.top-header {
  padding: 7px 0;
  background-color: #fff2e6;
  transition: all 0.3s ease 0s;
}
.top-header.active {
  display: none;
}
.top-header__body {
  display: flex;
  align-items: center;
}
.top-header__text {
  flex: 1 1 100%;
  color: #d45c05;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
}
.top-header__text a {
  text-decoration: underline;
}
.top-header__close {
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/iconfont/close.svg");
}
@media (min-width: 68.125em) {
  .top-header__close {
    width: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (width: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      width: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem );
    }
  }
  @supports not (width: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      width: calc(0.9375rem + -0.4375 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .top-header__close {
    width: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .top-header__close {
    height: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  @supports (height: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      height: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem );
    }
  }
  @supports not (height: clamp( 0.5rem , 1.1193181818rem  +  -0.9090909091vw , 0.9375rem )) {
    .top-header__close {
      height: calc(0.9375rem + -0.4375 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (max-width: 20em) {
  .top-header__close {
    height: 0.9375rem;
  }
}

.middle-header {
  padding-top: 18px;
  padding-bottom: 20px;
  transition: all 0.3s ease 0s;
}
._header-scroll .middle-header {
  padding-top: 9px;
  padding-bottom: 10px;
}
.middle-header__body {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.middle-header__logo {
  align-self: center;
}
.middle-header__logo img {
  width: 100%;
}
@media (min-width: 25.625em) {
  .middle-header__logo img {
    max-width: 9.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (max-width: clamp( 6.25rem , -4.6388888889rem  +  54.4444444444vw , 9.3125rem )) {
    .middle-header__logo img {
      max-width: clamp( 6.25rem , -4.6388888889rem  +  54.4444444444vw , 9.3125rem );
    }
  }
  @supports not (max-width: clamp( 6.25rem , -4.6388888889rem  +  54.4444444444vw , 9.3125rem )) {
    .middle-header__logo img {
      max-width: calc(6.25rem + 3.0625 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .middle-header__logo img {
    max-width: 6.25rem;
  }
}

.info-header {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
@media (min-width: 25.625em) {
  .info-header {
    gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (gap: clamp( 0.75rem , -1.9166666667rem  +  13.3333333333vw , 1.5rem )) {
    .info-header {
      gap: clamp( 0.75rem , -1.9166666667rem  +  13.3333333333vw , 1.5rem );
    }
  }
  @supports not (gap: clamp( 0.75rem , -1.9166666667rem  +  13.3333333333vw , 1.5rem )) {
    .info-header {
      gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .info-header {
    gap: 0.75rem;
  }
}
@media (min-width: 25.625em) {
  .info-header {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (margin-bottom: clamp( 0.3125rem , -0.3541666667rem  +  3.3333333333vw , 0.5rem )) {
    .info-header {
      margin-bottom: clamp( 0.3125rem , -0.3541666667rem  +  3.3333333333vw , 0.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.3125rem , -0.3541666667rem  +  3.3333333333vw , 0.5rem )) {
    .info-header {
      margin-bottom: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .info-header {
    margin-bottom: 0.3125rem;
  }
}
.info-header__language {
  display: flex;
  gap: 7px;
  color: #ecf3ff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.01em;
}
@media (min-width: 25.625em) {
  .info-header__language {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 25.625em) {
  @supports (font-size: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 1.5rem )) {
    .info-header__language {
      font-size: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.3611111111rem  +  4.4444444444vw , 1.5rem )) {
    .info-header__language {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 5.625);
    }
  }
}
@media (max-width: 20em) {
  .info-header__language {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .info-header__language a {
    transition: all 0.3s ease 0s;
  }
  .info-header__language a:hover {
    color: #01bd3a;
  }
}
.info-header__link {
  border: 1px solid #25529f;
  border-radius: 50%;
  flex: 0 0 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .info-header__link {
    transition: all 0.3s ease 0s;
  }
  .info-header__link:hover {
    border-color: #01bd3a;
  }
}
.info-header__link img {
  max-width: 12px;
  height: 12px;
}

.language-active {
  color: #25529f;
}

.header-search__tel {
  display: block;
  padding-bottom: 15px;
}
@media (min-width: 35.625em) {
  .header-search__tel {
    display: none;
  }
}

.search-header {
  position: relative;
}
.search-header__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  z-index: 2;
  border-radius: 31px;
  background-repeat: no-repeat;
  background-image: url("../img/iconfont/search.svg");
  background-size: 50%;
  background-position: center;
}
@media (min-width: 35.625em) {
  .search-header__button {
    width: 25px;
    height: 25px;
    border: 1px solid #25529f;
  }
}
.search-header__input {
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid #25529f;
  border-radius: 31px;
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.6s ease;
  position: relative;
}
@media (min-width: 35.625em) {
  .search-header__input {
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}

@media (min-width: 35.625em) {
  .search-header__button.active {
    border-color: transparent;
  }

  .search-header__button.active + .search-header__input {
    width: 200px;
    opacity: 1;
  }
}
@media (min-width: 35.625em) and (min-width: 68.125em) {
  .search-header__button.active + .search-header__input {
    width: 12.5rem;
  }
}
@media (min-width: 35.625em) and (min-width: 20em) and (max-width: 68.125em) {
  @supports (width: clamp( 7.5rem , 5.4220779221rem  +  10.3896103896vw , 12.5rem )) {
    .search-header__button.active + .search-header__input {
      width: clamp( 7.5rem , 5.4220779221rem  +  10.3896103896vw , 12.5rem );
    }
  }
  @supports not (width: clamp( 7.5rem , 5.4220779221rem  +  10.3896103896vw , 12.5rem )) {
    .search-header__button.active + .search-header__input {
      width: calc(7.5rem + 5 * (100vw - 20rem) / 48.125);
    }
  }
}
@media (min-width: 35.625em) and (max-width: 20em) {
  .search-header__button.active + .search-header__input {
    width: 7.5rem;
  }
}
.bottom-header {
  background-color: #25529f;
  color: #fff;
}
.menu__body {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
._header-scroll .menu__body {
  min-height: 40px;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: #25529f;
    transition: all 0.3s ease 0s;
  }
  .menu-open .menu__body {
    top: 0;
  }
}
.menu__list li {
  position: relative;
}
@media (min-width: 47.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    row-gap: 8px;
    height: 100%;
  }
}
@media (min-width: 47.99875em) and (min-width: 120em) {
  .menu__list {
    column-gap: 1.875rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem )) {
    .menu__list {
      column-gap: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem );
    }
  }
  @supports not (column-gap: clamp( 1.25rem , 0.8333333333rem  +  0.8680555556vw , 1.875rem )) {
    .menu__list {
      column-gap: calc(1.25rem + 0.625 * (100vw - 48rem) / 72);
    }
  }
}
@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    column-gap: 1.25rem;
  }
}
.menu__link {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 2;
  color: #f9f9f9;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #25529f;
  padding: 16px 12px 24px 12px;
  min-width: 140px;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
.menu__sub-list li {
  line-height: 120%;
  white-space: nowrap;
}
.menu__sub-list li:not(:last-child) {
  margin-bottom: 16px;
}
html.pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

html.touch .menu__list > li:hover {
  display: flex;
  align-items: center;
}

html.touch .menu__link {
  flex: 1 1 auto;
}

html.touch .menu__list > li.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

html.pc .menu__list > li:hover .menu__sub-list-wrap {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

html.touch .menu__list > li:hover {
  display: flex;
  align-items: center;
}

html.touch .menu__link {
  flex: 1 1 auto;
}

html.touch .menu__list > li.active .menu__sub-list-wrap {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__sub-list-wrap {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
@media (min-width: 62.5em) {
  .menu__sub-list-wrap {
    padding-top: 1rem;
  }
}
@media (min-width: 48em) and (max-width: 62.5em) {
  @supports (padding-top: clamp( 0.125rem , -2.7715517241rem  +  6.0344827586vw , 1rem )) {
    .menu__sub-list-wrap {
      padding-top: clamp( 0.125rem , -2.7715517241rem  +  6.0344827586vw , 1rem );
    }
  }
  @supports not (padding-top: clamp( 0.125rem , -2.7715517241rem  +  6.0344827586vw , 1rem )) {
    .menu__sub-list-wrap {
      padding-top: calc(0.125rem + 0.875 * (100vw - 48rem) / 14.5);
    }
  }
}
@media (max-width: 48em) {
  .menu__sub-list-wrap {
    padding-top: 0.125rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    order: 3;
    position: relative;
    flex: 0 0 1.5625rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 25;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #25529f;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #25529f;
  color: #ecf3ff;
  padding-top: 24px;
  padding-bottom: 33px;
}
.footer__link {
  text-align: center;
  text-decoration: underline;
  margin-top: 24px;
}
@media (min-width: 48em) {
  .footer__link {
    margin-top: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (margin-top: clamp( 1.5rem , 4.2857142857rem  +  -5.8035714286vw , 3.125rem )) {
    .footer__link {
      margin-top: clamp( 1.5rem , 4.2857142857rem  +  -5.8035714286vw , 3.125rem );
    }
  }
  @supports not (margin-top: clamp( 1.5rem , 4.2857142857rem  +  -5.8035714286vw , 3.125rem )) {
    .footer__link {
      margin-top: calc(3.125rem + -1.625 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__link {
    margin-top: 3.125rem;
  }
}
@media (min-width: 48em) {
  .footer__link {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.75rem , 1.1785714286rem  +  -0.8928571429vw , 1rem )) {
    .footer__link {
      font-size: clamp( 0.75rem , 1.1785714286rem  +  -0.8928571429vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.1785714286rem  +  -0.8928571429vw , 1rem )) {
    .footer__link {
      font-size: calc(1rem + -0.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .footer__link {
    font-size: 1rem;
  }
}

.info-footer {
  display: grid;
  gap: 110px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
@media (min-width: 48em) {
  .info-footer {
    gap: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (gap: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .info-footer {
      gap: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem );
    }
  }
  @supports not (gap: clamp( 3.75rem , 1.5178571429rem  +  11.1607142857vw , 6.875rem )) {
    .info-footer {
      gap: calc(3.75rem + 3.125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .info-footer {
    gap: 3.75rem;
  }
}
.info-footer__title {
  padding: 30px 0;
  padding-right: 10px;
  border-right: 1px solid #ecf3ff;
}
@media (max-width: 29.99875em) {
  .info-footer__title {
    padding-bottom: 10px;
  }
}
.info-footer__title h3 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -0.01em;
  line-height: 1.1666666667;
}
@media (min-width: 30em) {
  .info-footer__title h3 {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 30em) {
  @supports (font-size: clamp( 1.125rem , 2.25rem  +  -3.75vw , 1.5rem )) {
    .info-footer__title h3 {
      font-size: clamp( 1.125rem , 2.25rem  +  -3.75vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 2.25rem  +  -3.75vw , 1.5rem )) {
    .info-footer__title h3 {
      font-size: calc(1.5rem + -0.375 * (100vw - 20rem) / 10);
    }
  }
}
@media (max-width: 20em) {
  .info-footer__title h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 29.99875em) {
  .info-footer__title h3 {
    max-width: 214px;
  }
}
.info-footer__title p {
  font-size: 0.875rem;
  line-height: 1.1785714286;
  letter-spacing: -0.01em;
  max-width: 284px;
  margin-top: 14px;
}
.info-footer__subtitle {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}
@media (min-width: 68.75em) {
  .info-footer__subtitle {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 68.75em) {
  @supports (font-size: clamp( 0.75rem , 1.6314102564rem  +  -1.2820512821vw , 1.375rem )) {
    .info-footer__subtitle {
      font-size: clamp( 0.75rem , 1.6314102564rem  +  -1.2820512821vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.6314102564rem  +  -1.2820512821vw , 1.375rem )) {
    .info-footer__subtitle {
      font-size: calc(1.375rem + -0.625 * (100vw - 20rem) / 48.75);
    }
  }
}
@media (max-width: 20em) {
  .info-footer__subtitle {
    font-size: 1.375rem;
  }
}
@media (min-width: 47.99875em) {
  .info-footer__links {
    max-width: 250px;
  }
}
@media (max-width: 47.99875em) {
  .info-footer__links {
    text-align: center;
  }
}
.info-footer__list li {
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
}
@media (min-width: 68.75em) {
  .info-footer__list li {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 68.75em) {
  @supports (font-size: clamp( 0.75rem , 1.4551282051rem  +  -1.0256410256vw , 1.25rem )) {
    .info-footer__list li {
      font-size: clamp( 0.75rem , 1.4551282051rem  +  -1.0256410256vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.4551282051rem  +  -1.0256410256vw , 1.25rem )) {
    .info-footer__list li {
      font-size: calc(1.25rem + -0.5 * (100vw - 20rem) / 48.75);
    }
  }
}
@media (max-width: 20em) {
  .info-footer__list li {
    font-size: 1.25rem;
  }
}
.info-footer__list li:not(:last-child) {
  margin-bottom: 4px;
}
@media (max-width: 47.99875em) {
  .info-footer__list li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.info-footer__list .list-footer__item-2 {
  transition-delay: 0.1s;
}
.info-footer__list .list-footer__item-3 {
  transition-delay: 0.2s;
}
.info-footer__list .list-footer__item-4 {
  transition-delay: 0.3s;
}
.info-footer__list .list-footer__item-5 {
  transition-delay: 0.4s;
}
.info-footer__list .list-footer__item-6 {
  transition-delay: 0.5s;
}

.contacts-footer {
  line-height: 1.1666666667;
  letter-spacing: -0.01em;
}
@media (min-width: 48em) {
  .contacts-footer {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  @supports (font-size: clamp( 0.75rem , 1.6071428571rem  +  -1.7857142857vw , 1.25rem )) {
    .contacts-footer {
      font-size: clamp( 0.75rem , 1.6071428571rem  +  -1.7857142857vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 1.6071428571rem  +  -1.7857142857vw , 1.25rem )) {
    .contacts-footer {
      font-size: calc(1.25rem + -0.5 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 20em) {
  .contacts-footer {
    font-size: 1.25rem;
  }
}
.contacts-footer__address {
  font-style: normal;
  transition-delay: 0.1s;
}
.contacts-footer__link {
  display: block;
}
.contacts-footer__tel {
  margin: 20px 0;
  transition-delay: 0.2s;
}
.contacts-footer__mail {
  transition-delay: 0.3s;
}
.contacts-footer__site {
  transition-delay: 0.4s;
}
@media (max-width: 47.99875em) {
  .contacts-footer {
    text-align: center;
  }
}

.intro__title-color {
  color: #25529f;
}

.description {
  background-color: #ecf3ff;
}
.description__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description__body {
  padding-top: 42px;
  padding-bottom: 29px;
  color: #25529f;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  max-width: 588px;
}
@media (max-width: 47.99875em) {
  .description__body {
    text-align: center;
  }
}

.mission {
  position: relative;
  color: #f9f9f9;
}
.mission__body {
  position: relative;
  width: 100%;
  min-height: 100%;
}
.mission__content {
  position: relative;
  z-index: 10;
  display: flex;
  padding-top: 103px;
  padding-bottom: 93px;
  padding-right: 98px;
}
@media (min-width: 47.99875em) {
  .mission__content {
    justify-content: flex-end;
  }
}
@media (max-width: 47.99875em) {
  .mission__content {
    text-align: center;
    padding: 30px;
  }
}
.mission__content-inner {
  flex: 0 1 384px;
}
.mission__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.1875;
}
.mission__text {
  margin-top: 4px;
  font-size: 1.125rem;
  line-height: 140%;
}

.background-mission {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  z-index: 5;
}
.background-mission__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #454655;
  opacity: 0.35;
  z-index: 2;
}
.background-mission__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}
